/* notfound - 共通 */
.notfound{
    text-align: center;
	p{
		//font-size: 1.4rem;
		font-weight: bold;
	}
}
.notfound_p_tb{
	padding: 6em 0;
}
.notfound_p_t{
	padding: 6em 0 0;
}
.notfound_p_b{
	padding: 0 0 6em;
}

@media only screen and (max-width: 768px){
    /*
	.notfound{
		p{
			font-size: 1rem;
		}
	}
    */
    .notfound_p_tb{
		padding: 3em 0;
	}
}


// 230307 matsubara リクルートテキスト差し替え
.sec__recruit {
	padding-top: 80px;
	@media screen and (max-width: 834px) {
		padding-top: 72px;
	}
	.recruit {
		&__inner {
			max-width: 1130px;
		}

		&__body {
			.imgArea {
				margin-left: 0;
				margin-bottom: -140px;
				@media screen and (max-width: 1200px) {
					max-width: 440px;
					margin-bottom: -108px;
				}
				@media screen and (max-width: 834px) {
					margin-left: auto;
				}
			}
			.txtArea {
				padding-bottom: 56px;
				margin-left: 12px;
				@media screen and (max-width: 1200px) {
					padding-bottom: 44px;
				}
				@media screen and (max-width: 834px) {
					margin-left: 0;
					padding-bottom: 0;
				}

				.lead {
					font-size: 2.8rem;
					@media screen and (max-width: 1200px) {
						font-size: 2.6rem;
					}
					@media screen and (max-width: 834px) {
						font-size: 2rem;
					}
				}
			}

		}
		&__searchBox {
			margin-top: 0;
		}
	}
}
