@charset "utf-8";
@use '../foundation/mixins' as *;
// @include mq(sp)
// @include mq(tab)

/* ============================================
// HEADER
// ==========================================*/
.header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px 0;
    @include mq(sp) {
      padding: 16px 20px 0;
    }
  }
  &__logo {
    img {
      @include mq(sp) {
        height: 64px;
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    position: relative;
    margin-right: 40px;
    margin-left: auto;
    @media screen and (max-width: 1201px) {
      display: none;
    }
    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      &__item {
        padding: 0 32px;
        position: relative;
        font-size: 1.6rem;
        font-weight: bold;
        &:last-child {
          padding-right: 0;
        }

        // スラッシュ
        &::before {
          content: '';
          display: inline-block;
          width: 1px;
          height: 32px;
          background-color: $txt-color;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%) skew(-20deg);
        }
        &:last-child {
          &::before {
            content: none;
          }
        }
      }
    }
  }
  &__kyujinBtn {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
  &__hamburger{
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    background-color: #262626;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    transition: color 0.4s, background 0.3s;
    @media screen and (min-width: 1201px) {
      display: none;
    }
    @include mq(pc) {
      &:hover {
      }
    }
    @include mq(sp) {
      width: 52px;
      height: 52px;
      top: 16px;
      right: 20px;
    }
    span{
      width: 28px;
      height: 2px;
      margin: 3px 0;
      background: #fff;
      transition: background 0.4s,;
      @include mq(sp) {
        width: 20px;
        margin: 2px 0;
      }
    }
  }
}
