@charset "utf-8";
@use '../foundation/mixins' as *;
// @include mq(pc)
// @include mq(tab)
// @include mq(sp)

/* ============================================
// トップページ
// ==========================================*/

.front-page {

  // メインビジュアル
  .mainVisual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: darken($primary-color,5%);
  }
  // 求人検索
  .sec__jobSearch {
    margin-top: 100px;
    .jobSearch {
      &__inner {

      }
      &__box {

      }

      &__head {

      }
      &__body {

      }
    }
  }
  // 新着求人情報
  .sec__newJobs {
    .newJobs {
      &__inner {

      }

      &__head {

      }
      &__body {

      }

      &__swiper {
        &-slide {
          a {
            .imgArea {
              .img {
                img {

                }
              }
            }
            .txtArea {
              .info {
                .status {

                }
                .occupation {

                }
              }
              .lead {

              }
              .date {

              }
            }
          }
        }
        &-button {
          &-prev,
          &-next {

          }
          &-prev {

          }
        }
      }
    }
  }
  // お仕事紹介
  .sec__jobs {
    .jobs {
      &__inner {

      }

      .imgArea {
        .img {
          &01 {

          }
          &02 {

          }
        }
      }
      .txtArea {
        .commonHead01 {

        }
        .lead {

        }
        .desc {

        }
        .commonBtn01 {

        }
      }
    }
  }
  // スタッフインタビュー
  .sec__interview {
    .interview {
      &__inner {

      }

      &__head {

      }
      &__body {

      }

      &__swiper {
        &-slide {
          a {

          }
          .lead {

          }
          .imgArea {
            .budge {
              .icon {

              }
              .txt {

              }
            }
            .img {
              img {

              }
            }
          }
          .nameArea {
            .status {

            }
            .name {
              b {

              }
            }
          }
        }
        &-button {
          &-prev,
          &-next {

          }
          &-prev {

          }
        }
      }
    }
  }
  // その他
  .sec__others {
    .others {
      &__inner {

      }
    }

    // お店の一日
    .sec__oneday {
      .oneday {
        a {

        }
        .imgArea {
          .img {
            img {

            }
          }
        }
        .txtArea {

        }
      }
    }
    // 会社概要
    .sec__company {
      .company {
        a {

        }
        .logo {

        }
        .commonHead01 {

        }
      }
    }
  }

}
