@charset "utf-8";
@use '../foundation/mixins' as *;
// @include mq(pc)
// @include mq(tab)
// @include mq(sp)

/* ============================================
// インタビュー
// ==========================================*/

// 一覧
.lower-interview_l {
  // 余白
  .l-main {
    padding-top: 140px;
    padding-bottom: 100px;
    @include mq(sp) {
      padding-top: 72px;
      padding-bottom: 56px;
    }
  }

  .interview {
    &__inner {
      max-width: 1180px;
    }
    &__cardList {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      @include mq(pc) {
        margin: -48px 0;
      }
      @include mq(sp) {
        display: block;
        width: 85%;
        margin: 0 auto;
      }
      &__item {
        max-width: 320px;
        @include mq(pc) {
          flex: 0 0 30%;
          margin-top: 48px;
          margin-bottom: 48px;
          margin-right: 5%;
          &:nth-child(3n+2) {
            animation-delay: 0.15s;
          }
          &:nth-child(3n+3) {
            margin-right: 0;
            animation-delay: 0.3s;
          }
        }
        @include mq(sp) {
          margin: 0 auto;
          margin-top: 56px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

// 詳細
.lower-interview_d {

  // 余白
  .l-main {
    border-top: 1px solid #dedede;
    padding-bottom: 100px;
    @include mq(sp) {
      padding-bottom: 68px;
    }
  }
  // イントロ
  .sec__intro {
    padding-top: 110px;
    position: relative;
    background-color: #fff;
    @include mq(tab) {
      padding-top: 80px;
    }
    @include mq(sp) {
      padding-top: 32px;
    }

    .intro {
      &__inner {
        max-width: 1180px;
      }
      &__main {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @include mq(sp) {
          flex-direction: column-reverse;
        }

        .txtArea {
          @include mq(sp) {
            margin-top: 32px;
          }
          .lead {
            font-size: 3.2rem;
            font-weight: bold;
            display: inline;
            line-height: 1.75;
            background: linear-gradient(#ebf141, #ebf141) 0 100%/0 30% no-repeat;
            transition: background 1.4s;
            transition-delay: 0.4s;
            text-decoration: none;
            @include mq(sp) {
              font-size: 2.2rem;
            }

            &.js-active {
              background-size: 100% 30%;
            }
          }
          .name-holder {
            margin-top: 40px;
            @include mq(sp) {
              margin-top: 24px;
            }

            .name {
              .kanji {
                font-size: 2.4rem;
                font-weight: bold;
                @include mq(sp) {
                  font-size: 1.9rem;
                }
              }
              .hiragana {
                display: inline-block;
                margin-left: 8px;
              }
            }
            .info {
              margin-top: -4px;

              .head {

              }
              .desc {

              }
            }
          }
          .profile {
            margin-top: 32px;
            @include mq(sp) {
              margin-top: 28px;
            }

            .desc {
              margin-top: 8px;
            }
          }
        }
        .imgArea {
          flex: 0 0 50%;
          max-width: 540px;
          margin-left: 4.5%;
          position: relative;
          @include mq(sp) {
            width: 100%;
            margin: 0 auto;
          }

          // 装飾 リーフ
          &::after {
            content: '';
            display: inline-block;
            background-image: url(../img/interview/deco_leaf.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 283px;
            height: 193px;
            position: absolute;
            bottom: -32px;
            right: -44px;
            z-index: 2;
            opacity: 0;
            transform: translate(15%,-15%);
            transition: opacity 0.6s, transform 0.6s;
            transition-delay: 0.4s;
            @include mq(sp) {
              transform: scale(0.7) translate(15%,-15%);
              transform-origin: bottom right;
              bottom: -24px;
              right: -32px;
            }
          }

          .img {
            @include keepAspect(78.5%);
            img {
              border-radius: 40px 0 40px 0;
            }
          }

          &.js-active {
            &:after {
              opacity: 1;
              transform: translate(0);
              @include mq(sp) {
                transform: scale(0.7) translate(0);
              }
            }
          }
        }
      }
      &__sub {
        color: #fff;
        margin-top: 40px;
        position: relative;
        @include mq(sp) {
          margin-top: 32px;
        }

        // 背景色 $bg-color
        &::before {
          content: '';
          display: inline-block;
          width: 200vw;
          height: 50%;
          background-color: $bg-color;
          position: absolute;
          bottom: 0;
          left: 50%;
          pointer-events: none;
          transform: translateX(-50%);
        }

        &__wrap {
          position: relative;
          z-index: 2;
          background-color: $primary-color;
          padding: 40px 4.5%;
          border-radius: 16px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          @include mq(sp) {
            display: block;
            padding: 24px 8%;
          }
        }

        .head {
          flex-shrink: 0;
          margin-right: 3.2%;
          @include mq(sp) {
            margin-right: 0;
          }
        }
        .desc {
          @include mq(sp) {
            margin-top: 12px;
          }
        }
      }
    }
  }
  // インタビュー
  .sec__interview {
    padding-top: 88px;
    @include mq(sp) {
      padding-top: 60px;
    }
    .interview {
      &__inner {

      }
      &__head {

      }
      &__body {
        margin-top: 56px;
        @include mq(sp) {
          margin-top: 26px;
        }
      }

      &__list {
        &__item {
          // 共通
          margin-top: 120px;
          position: relative;

          @include mq(pc) {
            // 奇数
            &:nth-child(odd) {
              // 装飾 三角形
              &::before {
                content: '';
                display: inline-block;
                background-image: url(../img/common/bg_deco_triangle01.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 201px;
                height: 159px;
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translateY(80%);
                pointer-events: none;
              }

              .imgArea {
                margin-right: 4.2%;
              }
            }
            // 偶数
            &:nth-child(even) {
              // 装飾 三角形
              &::before {
                content: '';
                display: inline-block;
                background-image: url(../img/common/bg_deco_triangle02.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 202px;
                height: 159px;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateY(80%);
                pointer-events: none;
              }

              .interview__list__item__inner {
                flex-direction: row-reverse;
              }
              .imgArea {
                margin-left: 4.2%;
              }
            }
          }
          @include mq(sp) {
            margin-top: 40px;
          }
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            &::before {
              content: none;
            }
          }

          &__inner {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            @include mq(sp) {
              display: block;
            }
          }

          .imgArea {
            flex: 0 0 42%;
            max-width: 500px;
            @include mq(sp) {
              width: 90%;
              margin: 0 auto;
              margin-top: 18px;
            }
            .img {
              @include keepAspect(76%);

              img {
                border-radius: 54px 0 54px 0;
              }
            }
          }
          .txtArea {
            .num {
              color: $primary-color;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-family: $eng;
              font-size: 1.6rem;
              font-weight: bold;
              line-height: 1;
              &::before {
                content: '';
                display: inline-block;
                width: 64px;
                height: 1px;
                background-color: $primary-color;
                margin-right: 20px;
              }
            }
            .lead {
              font-size: 2.4rem;
              font-weight: bold;
              line-height: 1.6;
              margin-top: 24px;
              @include mq(sp) {
                font-size: 1.8rem;
                margin-top: 10px;
              }
            }
            .desc {
              margin-top: 20px;
              @include mq(sp) {
                margin-top: 24px;
              }
            }
          }
        }
      }
    }
  }
  // 一日の流れ
  .sec__oneday {
    padding-top: 110px;
    @include mq(sp) {
      padding-top: 68px;
    }
    .oneday {
      &__inner {
        max-width: 1180px;
      }
      &__wrap {
        background-color: #fff;
        border-radius: 100px 0 100px 0;
        position: relative;
        padding: 96px 0 56px;
        @include mq(sp) {
          border-radius: 50px 0 50px 0;
          padding: 64px 0 36px;
        }
      }

      &__bg {
        position: absolute;
        bottom: -16px;
        right: -16px;
        width: 100%;
        height: 100%;
        border-radius: 100px 0 100px 0;
        pointer-events: none;
        @include mq(sp) {
          bottom: -8px;
          right: -8px;
          border-radius: 50px 0 50px 0;
        }

        // 背景 数字
        &::before {
          content: '';
          display: inline-block;
          background-image: url(../img/index/bg_num.png);
          background-size: contain;
          background-repeat: repeat;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: inherit;
          opacity: 0.4;
          z-index: -1;
          pointer-events: none;
        }
        // 背景 緑色
        &::after {
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          background-color: $primary-color;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -2;
          pointer-events: none;
        }
      }
      &__head {
        position: absolute;
        top: -28px;
        left: 50%;
        transform: translateX(-50%);
        @include mq(sp) {
          top: -20px;
        }
      }
      &__body {

      }

      &__list {
        position: relative;
        // 縦ライン
        &::before {
          content: '';
          display: inline-block;
          background-color: $primary-color;
          width: 2px;
          height: calc(100% - 3px);
          position: absolute;
          top: 0;
          left: calc(9% + 7px);
          z-index: 2;
          @include mq(sp) {
            left: calc(7.2% + 6px);
          }
        }
        &__item {
          border-bottom: 2px solid #eef2f1;
          padding: 20px 9%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          position: relative;
          @include mq(sp) {
            padding: 16px 7.2%;
          }
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            position: relative;

            // 最後の縦ライン見えないように
            &::before {
              content: '';
              display: inline-block;
              background-color: #fff;
              width: 10px;
              height: calc(100% - 20px);
              position: absolute;
              top: 20px;
              left: 9%;
              z-index: 9;
              @include mq(sp) {
                left: 7.2%;
              }
            }
          }

          .time {
            flex: 0 0 80px;
            margin-right: 3.6%;
            font-family: $eng;
            font-size: 2rem;
            font-weight: bold;
            color: $primary-color;
            margin-top: -8px;
            background-color: #fff;
            padding: 4px 0;
            z-index: 10;
            @include mq(sp) {
              font-size: 1.6rem;
              flex: 0 0 64px;
            }

            // リーフ
            &::before {
              content: '';
              display: inline-block;
              width: 16px;
              height: 16px;
              background-color: $third-color;
              border-radius: 10px 0 10px 0;
              margin-right: 8px;
              @include mq(sp) {
                width: 13px;
                height: 13px;
                border-radius: 8px 0 8px 0;
                margin-bottom: -1px;
              }
            }
          }
          .todo {
            .term {
              font-size: 1.8rem;
              font-weight: bold;
              line-height: 1.6;
              @include mq(sp) {
                font-size: 1.5rem;
              }
            }
            .desc {
              margin-top: 8px;
              @include mq(sp) {
                margin-top: 6px;
              }
            }
          }
        }
      }
      .annotation {
        padding: 28px 9% 0;
        line-height: 1.6;
        @include mq(sp) {
          padding: 20px 7.2% 0;
        }
      }
    }
  }
  // あなたへメッセージ
  .sec__message {
    padding-top: 100px;
    @include mq(sp) {
      padding-top: 72px;
    }
    .message {
      &__inner {
      }
      &__wrap {
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 48px 8%;
        border-radius: 16px;
        @include mq(sp) {
          position: relative;
          padding: 44px 8% 36px;
        }
      }

      .txtArea {
        .txt {
          margin-top: 24px;
        }
      }
      .imgArea {
        flex: 0 0 20.4%;
        max-width: 244px;
        margin-left: 7.2%;
        @include keepAspect(100%);
        @include mq(sp) {
          position: absolute;
          top: 20px;
          right: 8%;
          width: 100px;
          height: 100px;
          margin-left: 0;
        }

        img {
          border-radius: 50%;
        }
      }
    }
  }

  .interview-date {
    text-align: center;
    margin-top: 56px;
    font-size: 1.6rem;
    @include mq(sp) {
      margin-top: 48px;
      font-size: 1.5rem;
    }
  }
  .commonBtn01 {
    text-align: center;
    margin-top: 20px;
  }

}
