@charset "utf-8";

@use '../foundation/mixins' as *;
// @include mq(sp)
// @include mq(tab)

/* ============================================
// MODULES
// ==========================================*/

/*--------------------
	pageHeader
--------------------*/
.pageHeader{
	position: relative;
	text-align: center;
	padding: 36px 0 88px;
	@include mq(sp) {
		padding: 32px 0 56px;
	}

	// 背景 アイコン画像
	&::before {
		content: '';
		display: inline-block;
		background-image: url(../img/common/bg_icons.png);
		background-repeat: repeat;
		position: absolute;
		top: -38px;
		left: 0;
		width: 100%;
		height: calc(100% + 38px);
		opacity: 0.12;
		pointer-events: none;
		z-index: 2;
		@include mq(sp) {
			top: -48px;
			height: calc(100% + 48px);
		}
	}
	// 背景 濃オレンジ
	&::after {
		content: '';
		display: inline-block;
		background: #f5bc00;
		position: absolute;
		top: -131px;
		left: 0;
		width: 100%;
		height: calc(100% + 131px);
		pointer-events: none;
		z-index: 1;
		@include mq(sp) {
			top: -80px;
			height: calc(100% + 80px);
		}
	}

	&__ttl {
		position: relative;
		z-index: 5;

		.ja {
			font-size: 2.4rem;
			font-weight: 900;
			color: #513e29;
			margin-top: 10px;
			@include mq(sp) {
				font-size: 1.7rem;
				margin-top: 4px;
			}
		}
	}

}
.lower-kyujin_l {
	.pageHeader__ttl {
		.eng {
			img {
				height: 72px;
				@include mq(sp) {
					height: 48px;
				}
			}
		}
	}
}
.lower-whatsnew {
	.pageHeader__ttl {
		.eng {
			img {
				height: 67px;
				@include mq(sp) {
					height: 40px;
				}
			}
		}
	}
}

/*--------------------
	breadcrumb
--------------------*/
.breadcrumb {
	// border-top: 5px solid $txt-color;
	&__list{
		position: relative;
    z-index: 1;
    overflow-x: auto;
    white-space: nowrap;
		padding: 12px 20px;
		@include mq(sp) {
			padding: 10px;
		}
		&__item{
			display: inline;
			font-size: 1.3rem;
			color: $txt-color;
			margin: 0 2px;
			@include mq(sp) {
				font-size: 1.1rem;
			}
			&::after{
				content: "\003e";
				margin-left: 7px;
			}
			&:last-child{
				&::after{
					display: none;
				}
			}
			a{
				color: $txt-color;
				&:hover{
					opacity: 0.7;
				}
			}
		}
	}
}

/*--------------------
	commonHead
--------------------*/
.commonHead01{
	@include mq(sp) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.eng {
		font-family: $eng;
		font-size: 4rem;
		font-weight: bold;
		line-height: 1.2;
		position: relative;
		z-index: 1;
		@include mq(sp) {
			font-size: 3rem;
		}
	}
	.ja {
		font-size: 1.6rem;
		font-weight: bold;
		line-height: 1.6;
		margin-bottom: 4px;
		@include mq(sp) {
			font-size: 1.5rem;
			margin-bottom: 0;
		}
	}

	&.-row {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		@include mq(sp) {
			align-items: flex-start;
		}

		.ja {
			margin-left: 12px;
			@include mq(sp) {
				margin-left: 0;
			}
		}
	}
	&.-column {
		.ja {
			margin-top: 4px;
		}
	}
	&.-white {
		color: #fff;
	}
	&.-center {
		text-align: center;
	}
	&.-small {
		.eng {
			font-size: 3rem;
		}
		.ja {
			font-size: 1.5rem;
		}
	}
}
.commonHead02 {
	display: inline-block;
	border-bottom: 2px solid $primary-color;
	font-size: 1.8rem;
	font-weight: bold;
	@include mq(sp) {
		font-size: 1.6rem;
	}
	&:first-letter {
		color: $primary-color;
	}

	&.eng {
		font-size: 2.2rem;
		line-height: 1.4;
		@include mq(sp) {
			font-size: 1.8rem;
		}
	}
	&.-white {
		color: #fff;
		border-bottom: 2px solid #fff;
		&:first-letter {
			color: #fff;
		}
	}
}

/*--------------------
	commonBtn
--------------------*/
.commonBtn01{
	a {
		background-color: $third-color;
		border-radius: 100px;
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		padding: 11px 58px;
		transition: transform 0.3s;
		transition-timing-function: $easing;
		@include mq(pc) {
			&:hover {
				transform: scale(1.05);
			}
		}
		@include mq(sp) {
			// min-width: 200px;
			padding: 9px 36px;
			justify-content: center;
		}

		.icon {
			display: flex;
			margin-right: 10px;
		}
		.txt {
			font-size: 1.6rem;
			color: #fff;
			@include mq(sp) {
        font-size: 1.5rem;
      }
		}
	}

	&.-kyujin {
		a {
			padding: 16px 40px;
		}
	}
	&.-recruit {
		a {
			padding: 24px 40px;
			width: 300px;
			justify-content: center;
			@include mq(sp) {
				width: 200px;
				padding: 14px;
			}
		}
	}
}

/*--------------------
	commonLink
--------------------*/
.commonLink01{
	a {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		transition: opacity 0.3s;
		@include mq(pc) {
			&:hover {
				.txt {
					&:after {
						animation: border-l-r 400ms $easing;
						transform-origin: left top;
					}
				}
				.icon {
					animation: icon-l-r 400ms $easing;
				}
			}
		}

		.txt {
			font-size: 1.6rem;
			font-weight: bold;
			position: relative;

			@include mq(sp) {
				font-size: 1.5rem;
			}

			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				left: 0;
				width: 100%;
				height: 1px;
				background: $txt-color;
				bottom: -1px;
				// transform: scale(0, 1);
				transform-origin: right top;
				transition: transform 0.3s
			}
		}
		.icon {
			display: flex;
			margin-left: 10px;
			transition: transform 0.3s;

			img {
				@include mq(sp) {
					transform: scale(0.8);
					transform-origin: left center;
				}
			}
		}
	}
}

/*--------------------
	job_count_pager
--------------------*/
body{
	.job_count_pager {
		display: flex;
	}
	.job_count_pager.contents_top {
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
		margin-bottom: 30px;
		@include mq(sp) {
			margin-bottom: 24px;
		}
	}
	.job_count_pager.contents_bottom{
		display: block;
		// margin: 80px 0;
		padding: 80px 0 0;
		@include mq(sp) {
			padding: 40px 0 0;
		}
		.pagination{
			padding-top: 30px;
			@include mq(sp) {
				padding-top: 20px;
			}
			ul{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				li{
					text-align: center;
					font-size: 1.4rem;
					a,em{
						display: block;
						width: 40px;
						height: 40px;
						font-weight: bold;
						font-style: normal;
						line-height: 40px;
						overflow: hidden;
						margin: 0 4px;
						border-radius: 50%;
						// margin: 0 2px;
						// border-radius: 3px;
						background: #eef0f2;
					}
					a:hover,
					em{
						color: #ffffff;
						background: $primary-color;
					}
				}
				.number{
					display: none;
					@include mq(pc) {
						display: inline-block;
					}
				}
				.number.current{
					display: inline-block;
				}
			}
		}
	}
}
