@charset "utf-8";
@use '../foundation/mixins' as *;
// @include mq(sp)
// @include mq(tab)

/* ============================================
// 求人 追加分
// ==========================================*/

/*--------------------
	共通
--------------------*/
.lower-kyujin_l,
.lower-kyujin_d,
.lower-whatsnew {
  .job_count_pager {
    &.contents_top,
    &.contents_bottom {
      .pagination {
        a,em {
          border-radius: 50%;
          transition: all 0.3s;
          border: 2px solid transparent;
          &:hover {
            @include mq(pc) {
              color: $txt-color;
              background-color: #fefce0;
              border: 2px solid $txt-color;
            }
          }
        }
        a {
          background-color: #fefce0;
        }
        em {
          background-color: $txt-color !important;
          color: #fff !important;
        }
      }
    }
    &.contents_top {
      @include mq(sp) {
        padding: 0 8px;
      }
      .pagination {
        li {
          margin: 0 2px;
        }
      }
    }
    &.contents_bottom {
      @include mq(tab) {
        padding-top: 60px;
      }
      @include mq(sp) {
        padding-top: 40px;
      }
      .btn {
        background-color: $txt-color;
      }
      a,em {
        line-height: 36px !important;
      }
    }
  }
  .btn {
    border-radius: 100px;
    @include mq(pc) {
      transition: transform 0.3s;
      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }
    }
    @include mq(sp) {
      padding: 9px 0;
    }

    &.btn_secondary {
      background-color: $txt-color;
    }
    &.btn_external {
      color: $txt-color !important;
      &:after  {
        top:24px;
        right: 20px;
        background-image: url(../img/kyujin/ico_custom_blank_txtcolor.png);
        @include mq(sp) {
          top: 19px;
          right: 16px;
        }
      }
    }
  }
  .gMap_link {
    color: $primary-color !important;
    @include mq(pc) {
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/*--------------------
	一覧 / 新着求人
--------------------*/
.lower-kyujin_l,
.lower-whatsnew {
  .kyujin_container {
    @include mq(sp) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .job {
    border: none;
    background-color: #fefce0;
    border: 5px solid $txt-color !important;
    padding: 48px 5% 56px;
    margin-top: 40px;
    border-radius: 40px;
    @include mq(sp) {
      padding: 28px 24px;
      margin-top: 28px;
      border-radius: 24px;
      border: 4px solid $txt-color !important;
    }
  }
  .job_head_meta {
    border-bottom: 1px solid $txt-color;
    padding-bottom: 12px;
    margin-bottom: 20px;
    @include mq(sp) {
      padding-bottom: 10px;
      margin-bottom: 16px;
    }
  }
  .job_foot {
    padding-top: 28px;
    @include mq(sp) {
      padding-top: 20px;
    }
  }
  .job_body_head_img,
  .job_img_wrap {
    a {
      @include mq(pc) {
        &:hover {
          opacity: 1;
          img {
            transform: scale(1.08);
          }
        }
      }
      .job_img {
        overflow: hidden;

        img {
          transition: transform 0.3s;
        }
      }
    }
  }
}

/*--------------------
	一覧
--------------------*/
.lower-kyujin_l {
  .l-main {
    padding-top: 80px;
    padding-bottom: 88px;
    @include mq(tab) {
      padding-top: 68px;
      padding-bottom: 72px;
    }
    @include mq(sp) {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
  .search_panel {
    background-color: #fefce0;
    border: 5px solid $txt-color;
    border-radius: 40px;
    padding: 40px 8.8% 56px;
    position: relative;
    overflow: hidden;
    @include mq(sp) {
      padding: 28px 6.4% 32px;
      border-radius: 24px;
      border: 4px solid $txt-color;
    }

    // 背景画像
    &::before {
      content: '';
      display: inline-block;
      background-image: url(../img/common/bg_logo_large.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 508px;
      height: 334px;
      position: absolute;
      right: -7.2%;
      bottom: -32px;
      pointer-events: none;
      @include mq(tab) {
        transform: scale(0.8);
        transform-origin: bottom right;
      }
      @include mq(sp) {
        transform: scale(0.4);
        right: -6.4%;
        bottom: -16px;
      }
    }
  }
  .search_body {
    padding: 48px 5.6%;
    margin-bottom: 32px;
    border-radius: 28px;
    position: relative;
    z-index: 2;
    @include mq(sp) {
      padding: 28px 6.4%;
      border-radius: 20px;
    }
  }
  .search-toggle {
    border-radius: 100px;
    max-width: none;
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0);
    margin-bottom: 40px;
    background-color: $txt-color;
    @include mq(pc) {
      transition: background 0.3s;
      &:hover {
        opacity: 1;
        background-color: lighten($txt-color,5%);
      }
    }
    @include mq(sp) {
      margin-bottom: 20px;
    }

    .toggle_txt {
      padding: 1em;
      @include mq(sp) {
        font-size: 1.3rem;
        padding: 0.8em;
      }
    }
    .toggle_trigger {
      border-radius: 0 100px 100px 0;
    }
  }
  .job_result_total_body_ttl {
    @include mq(sp) {
      font-size: 1.3rem;
    }
  }
  .custom-form .category_list input[type=checkbox]+label {
    border: 1px solid #dedede;
  }
}

/*--------------------
	詳細
--------------------*/
.lower-kyujin_d {
  .l-main {
    padding-top: 56px;
    padding-bottom: 88px;
    position: relative;
    // 背景画像 複数アイコン
    &::before {
      content: '';
      display: inline-block;
      background-image: url(../img/common/bg_icons.png);
      background-repeat: repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.12;
      pointer-events: none;
    }
    @include mq(tab) {
      padding-bottom: 72px;
    }
    @include mq(sp) {
      padding-top: 36px;
      padding-bottom: 40px;
    }
  }
  .kyujin_container {
    @include mq(sp) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .kyujin_container__box {
    background-color: #fefce0;
    border: 5px solid $txt-color;
    border-radius: 40px;
    padding: 48px 6.4% 80px;
    @include mq(sp) {
      border-radius: 4px solid $txt-color;
      padding: 28px 6.4% 44px;
      border-radius: 24px;
    }
  }
  .job_head_meta {
    border-bottom: 1px solid $txt-color;
    margin-bottom: 20px;
  }
  .job_outline_item,
  .appeal_list_item {
    border-bottom: 1px solid $txt-color;
  }
  .job_body_block {
    margin: 64px 0;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq(sp) {
      margin: 32px 0;
    }
  }
  .outline_ttl {
    background-color: $txt-color;
    padding: 0.6em 1.2em;
    margin-bottom: 8px;
    border-radius: 10px;
    @include mq(sp) {
      padding: 0.5em 1em;
      margin-bottom: 0px;
      border-radius: 8px;
    }

    .txt {
      // color: $txt-color;
      color: #fff;
      font-size: 2rem;
      display: inline-block;
      position: relative;
      font-weight: bold;
      @include mq(sp) {
        font-size: 1.7rem;
      }
    }

  }
  .fixed_convertion {
    .convertion {
      .btn_convertion {
        background-color: $primary-color;
        border-radius: 100px;
        @include mq(pc) {
          transition: transform 0.3s;
          &:hover {
            opacity: 1;
            transform: scale(1.05);
          }
        }

        &:after {
          top: 50%;
          right: 24px;
          transform: translateY(-50%);
          @include mq(sp) {
            right: 16px;
          }
        }
      }
    }
  }
  .page_back {
    padding-top: 52px;
    padding-bottom: 0;
    @include mq(sp) {
      padding-top: 32px;
    }
    a {
      display: inline-block;
      background-color: $txt-color;
      color: #fff;
      border-radius: 100px;
      padding: 16px 48px;
      font-size: 1.5rem;
      @include mq(pc) {
        transition: transform 0.3s;
        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
      @include mq(sp) {
        font-size: 1.4rem;
        padding: 12px 32px;
      }
    }
  }
}

/*--------------------
	新着求人
--------------------*/
.lower-whatsnew {
  .l-main {
    padding-top: 80px;
    padding-bottom: 80px;
    @include mq(tab) {
      padding-top: 68px;
      padding-bottom: 72px;
    }
    @include mq(sp) {
      padding-top: 40px;
      padding-bottom: 48px;
    }
  }
  .job {
    margin-top: 32px;
    @include mq(sp) {
      margin-top: 24px;
    }

    &:before,
    &:after {
      content: none;
    }
  }
  .job_inner {
    padding: 0;
  }
  .job_count_pager {
    &.contents_bottom {
      padding-top: 56px;
      @include mq(sp) {
        padding-top: 40px;
      }
    }
  }
}
